* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

h1 {
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 0 20px;
    height: 10vh;
    background: #4A90E2;
    margin-bottom: 20px;
    border-radius: 0.5em;
}

nav ul li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}

nav ul li a:hover {
    color: #d87c7c;
    border-bottom: 2px solid #d87c7c;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas */
    grid-template-rows: 500px 50px;   /* Dos filas */
    grid-template-areas: 
        "main main sidebar"
        "footer footer footer";
    margin: 0 20px;
    background-color: #fff;
    gap: 10px;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main, .sidebar, .footer {
    padding: 10px;
    background-color: #4A90E2;
    border-radius: 0.5em;
    color: #333333;
}